@media screen and (max-width: 35.5em){
  .gradient{
    height: auto;
  }
  .sponsor{
    margin: (20em/16) 0;
  }

  .header{
    overflow: hidden;
  }
  .header .header-wrapper .logo{
    position: relative;
    margin: 0 auto;
    display: table;
    width: 80%;
    left: inherit;
    transform:none;
    img{
      width: 100%;
    }
  }

  .header-wrapper{
    figure{
      position: absolute;
      top:0;
      left: 0;
      z-index: -1;
    }
  }
  .header .header-wrapper .slogan{
    position: relative;
    bottom: inherit;
    margin-top: (20em/16);
  }

  .header .menu-wrapper{
    position: relative;
    bottom: inherit;
  }

  .header .menu-wrapper .menu li{
    width: 100%;
    margin-bottom: (10em/16);
  }
}

@media screen and (max-width: 48em){
  .header .menu-wrapper .menu li a::before{
    left: 5%;
  }
}


