@font-face {
  font-family: 'rockwell';
  src: url("../fonts/rockwell.eot?#iefix") format("embedded-opentype"), url("../fonts/rockwell.woff") format("woff"), url("../fonts/rockwell.ttf") format("truetype"), url("../fonts/rockwell.svg#MarketDeco") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rockwell';
  src: url("../fonts/rockwell-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/rockwell-bold.woff") format("woff"), url("../fonts/rockwell-bold.ttf") format("truetype"), url("../fonts/rockwell-bold.svg#MarketDeco") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'gillsans';
  src: url("../fonts/GillSans.eot?#iefix") format("embedded-opentype"), url("../fonts/GillSans.woff") format("woff"), url("../fonts/GillSans.ttf") format("truetype"), url("../fonts/GillSans.svg#MarketDeco") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gillsans';
  src: url("../fonts/GillSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GillSans-Italic.woff") format("woff"), url("../fonts/GillSans-Italic.ttf") format("truetype"), url("../fonts/GillSans-Italic.svg#MarketDeco") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'gillsans';
  src: url("../fonts/GillSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GillSans-Light.woff") format("woff"), url("../fonts/GillSans-Light.ttf") format("truetype"), url("../fonts/GillSans-Light.svg#MarketDeco") format("svg");
  font-weight: 300;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; }

body {
  border-top: #26A9E0 solid 1.5625em; }

.wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto; }

.menu li {
  float: left; }
  .menu li a {
    display: block;
    text-transform: uppercase;
    color: #57575A;
    font-size: 0.8125em;
    padding: 2.69231em 1.53846em 4.61538em;
    text-decoration: none;
    font-family: rockwell; }
    .menu li a:hover {
      background: #9DD8F1; }

.slider .caption {
  color: #58585A;
  font-size: 1.1875em;
  font-family: rockwell;
  line-height: 1.2;
  text-align: center;
  background: radial-gradient(#ffffff 0%, #cccccc 70%, #000000 250%);
  padding: 1.26316em 0; }
  .slider .caption .text {
    border: solid 1px #C7C7C8;
    padding: 0.63158em 0; }

.section-menu {
  padding: 3.4375em 0 1.5625em; }
  .section-menu .section-icon {
    text-align: center; }
    .section-menu .section-icon img {
      width: 26%; }
  .section-menu .section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9375em;
    font-family: rockwell;
    font-weight: bold;
    display: block;
    width: 100%;
    margin-top: 1.66667em; }
  .section-menu .section-content {
    font-size: 0.9375em;
    color: #58585A;
    font-family: gillsans;
    font-weight: 300;
    text-align: center; }
  .section-menu .section-link {
    display: block; }
    .section-menu .section-link .more-info-btn {
      display: table;
      margin: 0 auto;
      color: #fff;
      background: #58585A;
      font-family: gillsans;
      font-style: italic;
      border: none;
      padding: 0.3125em 0.625em; }

.flia .section-title {
  color: #B069A4; }
.flia .section-link .more-info-btn {
  background: #B069A4; }

.comercial .section-title {
  color: #AECF48; }
.comercial .section-link .more-info-btn {
  background: #AECF48; }

.notorial .section-title {
  color: #F6A900; }
.notorial .section-link .more-info-btn {
  background: #F6A900; }

.banner img {
  width: 100%; }

.block .content {
  padding: 3.125em 0; }
  .block .content .image {
    text-align: center; }
  .block .content .title {
    text-transform: uppercase;
    color: #26A9E0;
    font-family: rockwell;
    font-size: 1.25em;
    position: relative;
    margin-bottom: 1.25em; }
    .block .content .title:before {
      content: "";
      position: absolute;
      bottom: -0.4375em;
      left: -3%;
      height: 0.125em;
      width: 75%;
      background: #C9EAF7; }
  .block .content .sub-title {
    font-family: gillsans;
    font-style: italic;
    color: #58585A; }
  .block .content .section-content {
    font-size: 0.9375em;
    color: #58585A;
    font-family: gillsans;
    font-weight: 300; }
    .block .content .section-content ul {
      padding-left: 2.66667em;
      list-style: unset; }

.about {
  border-top: solid #26A9E0 2.0625em;
  border-bottom: solid #26A9E0 4.0625em; }

.right-area .family .pattern {
  border-bottom: solid #B069A4 2.0625em; }
  .right-area .family .pattern img {
    width: 100%; }
.right-area .family .content .title {
  color: #B069A4; }
  .right-area .family .content .title:before {
    background: #EBDAE9; }
.right-area .commerce .pattern {
  border-bottom: solid #AECF48 2.0625em; }
  .right-area .commerce .pattern img {
    width: 100%; }
.right-area .commerce .content .title {
  color: #AECF48; }
  .right-area .commerce .content .title:before {
    background: #D7E7A4; }
.right-area .notorial .pattern {
  border-bottom: solid #F6A900 2.0625em; }
  .right-area .notorial .pattern img {
    width: 100%; }
.right-area .notorial .content .title {
  color: #F6A900; }
  .right-area .notorial .content .title:before {
    background: #FBD480; }

/*# sourceMappingURL=style.css.map */
